.cart-container {
  height: calc(100vh - 4rem);
  margin: 0 1rem;
  position: relative;
}
.cart-container .cart-box-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-container .cart-box-empty h4 {
  margin-bottom: 1rem;
}
.cart-container .cart-box-empty .cart-box-empty-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.cart-container .cart-box h2 {
  margin-bottom: 1rem;
}
.cart-container .cart-box .order-container {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}
.cart-container .cart-box .more-food-container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-container .cart-box .more-food-container h4 {
  margin-bottom: 2rem;
}
.order-container .price-summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}
.order-container button {
  margin-bottom: 1rem;
}

.order-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-box .order-box-text p {
  color: gray;
}
.order-box .order-box-text h4 {
  margin-bottom: 0.4rem;
}
