.app-container {
  margin: 0 auto;
  height: 100vh;
  width: auto;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.category-grid-box {
  display: grid;
  gap: 1rem;
  margin: 1rem;
}

.category-box {
  cursor: pointer;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s;
}
.category-box:hover {
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 14px;
}

.category-box .category-image-box img {
  width: 100%;
  border-radius: 5px;
  height: 200px;
}
.category-box .category-food-text {
  font-size: 18px;
  color: #333;
  margin: 0.4rem 0.6rem;
}

@media screen and (min-width: 390px) {
  .category-grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 430px) {
  .category-grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 630px) {
  .category-grid-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 800px) {
  .category-grid-box {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .category-grid-box {
    grid-template-columns: repeat(5, 1fr);
  }
}
