.menu-header {
  height: 100vh;
  margin: 0 auto;
  width: auto;
}
.menu-box img {
  width: 120px;
  height: 120px;
  border-radius: 7px;
  margin: 1rem;
}
.menu-box {
  cursor: pointer;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 7px;
  margin: 0.4rem 1rem;
  transition: all 0.2s;
  width: 390px;
}
.menu-box-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
}
.menu-box:hover {
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 14px;
}
.menu-name {
  margin-top: 0.5rem;
  color: #333;
}

.menu-price {
  color: var(--primary-color);
}
.img-box {
  display: flex;
  align-items: center;
}
.menu-popup img {
  width: 385px;
  height: 385px;
}
.menu-detail-h2 {
  margin: 0.5rem;
}
.menu-datail-container p {
  margin: 0.5rem;
}
.menu-detail {
  width: 385px;
  margin: 0 auto;
}
.menu-option {
  width: 370px;
  height: 100%;
  border: 1.5px solid #adb5bd;
  border-radius: 7px;
  margin: 0 auto;
}
.add-menu-button {
  width: 370px;
  height: 45px;
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 7px;
}
.sub-option {
  font-size: 18px;
  display: block;
  margin: 0 1rem;
}
.menu-describe {
  margin: 0.5rem;
}
.option-inside-box {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem;
  align-items: center;
}
.must-have-option {
  width: 65px;
  height: 28px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 40px;
}
.option-name p {
  color: var(--primary-color);
}
.option-box {
  padding-bottom: 15px;
}
@media screen and (max-width: 390px) {
  .menu-box-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .menu-box {
    width: 355px;
  }
}
@media screen and (min-width: 430px) {
  .menu-box-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 630px) {
  .menu-box-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 850px) {
  .menu-box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .menu-box-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
