:root {
  --primary-color: #ee8100;
}
.menu-header {
  border: 1px solid red;
  width: 430px;
  height: 100vh;
  margin: 0 auto;
}
.menu-box img {
  width: 120px;
  height: 120px;
  border-radius: 7px;
}
.menu-box {
  display: flex;
  width: 400px;
  height: 130px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 7px;
}
.menu-name {
  margin-left: 1rem;
}
.menu-box-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  place-items: center;
}
.menu-price {
  color: var(--primary-color);
}
.img-box {
  display: flex;
  align-items: center;
}
.menu-popup img {
  width: 385px;
  height: 385px;
}
.menu-detail-h2 {
  margin: 0.5rem;
}
.menu-datail-container p {
  margin: 0.5rem;
}
.menu-detail {
  width: 385px;
  margin: 0 auto;
}
.menu-option {
  width: 370px;
  height: 100%;
  border: 1.5px solid #adb5bd;
  border-radius: 7px;
  margin: 0 auto;
}
.add-menu-button {
  width: 370px;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}
.sub-option {
  font-size: 18px;
  display: block;
  margin: 0 1rem;
}
.menu-describe {
  margin: 0.5rem;
}
.option-inside-box {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem;
  align-items: center;
}
.must-have-option {
  width: 65px;
  height: 28px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 40px;
}
.option-name p {
  color: var(--primary-color);
}
.option-box {
  padding-bottom: 15px;
}
